* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h2 {
  text-align: left;
  padding: 2rem;
  margin: 1rem;
  font-family: "Readex Pro", sans-serif; }
  h2 .flecha {
    color: #008b8b;
    width: 70px;
    height: 3rem; }

.parrafo {
  padding: 3rem;
  text-align: justify;
  line-height: 35px;
  font-size: 1.2rem;
  text-indent: 25px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h2 {
  text-align: left;
  padding: 2rem;
  margin: 1rem;
  font-family: "Readex Pro", sans-serif; }

Form {
  padding: 3rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.cartitas {
  padding: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.subtitulo {
  color: #008b8b; }

.texto {
  text-align: justify;
  padding: 3rem;
  padding-top: 0%;
  text-indent: 25px;
  font-size: 1rem; }

p a {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white; }

h1 {
  padding: 3rem;
  padding-bottom: 0%;
  font-family: "Readex Pro", sans-serif;
  margin: 1rem;
  text-align: left; }
  h1 .azul {
    color: #008b8b; }
  h1 .rosa {
    color: palevioletred; }

h5 {
  padding: 3rem;
  padding-top: 0%;
  margin: 1rem;
  text-align: left;
  text-align: justify; }

h5 a {
  text-decoration: none; }
